{% extends 'myboard/base.html' %}
{% block content %}
{{username}}님 로그인되었습니다. <br><br>

<a href="{%url 'myboard:myboard' 'common' 0 'list' %}"/>일반 게시판
<a href="{%url 'myboard:myboard' 'data' 0 'list' %}"/>자료실
<a href="{%url 'myboard:myboard' 'etc' 0 'list' %}"/>기타

<hr>
{% for d in data %}
{{d.pk}} : <a href="{%url 'myboard:myboard' 'category' d.pk 'detail' %}">{{d.title}}</a>
<hr>
{% endfor %}


<form action="{%url 'myboard:myboard' 'category' 0 'add'%}">
    <input type=submit value=글쓰기>
</form>
{% endblock %}